.city_body {
    background: #ebebeb;
    height: 100%;
    _overflow: auto;
  }
 .aa{
     background: #fff;
     margin-right: 30px;
 }
  .city_list_name_item {
    background: #fff;
    line-height: 44px;
    margin-left: 15px;
    margin-right: 45px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
    text-align: left;
  }


















  
  /* .hot_city_name {
    margin-top: 0.3rem;
    margin-left: 0.26rem;
    width: 1.9rem;
    height: 0.66rem;
    background:red;
    text-align: center;
    line-height: 0.66rem;
    font-size: 0.28rem;
    border: 2px solid #e6e6e6;
  } */
  
  /*热门城市*/
  /* .hot_title,
  .city_title_letter {
    line-height: 0.6rem;
    padding-left: 0.26rem;
    font-size: 0.28rem;
  }
  
  .hot_city_list,
  .city_list_name {
    width: 96%;
    background: #f5f5f5;
    padding-bottom: 0.16rem;
    padding-right: 0.6rem;
    display: flex;
    flex-wrap: wrap;
  }
  .hot_city_name {
    margin-top: 0.3rem;
    margin-left: 0.26rem;
    width: 1.9rem;
    height: 0.66rem;
    background: #fff;
    text-align: center;
    line-height: 0.66rem;
    font-size: 0.28rem;
    border: 2px solid #e6e6e6;
  }
  
  .city_list > div {
    width: 100%;
  }
  .city_list_name_item {
    line-height: 0.9rem;
    margin-left: 0.26rem;
    width: 100%;
    border-bottom: 2px solid #e6e6e6;
    font-size: 0.28rem;
  }
   */
  /*城市列表下标*/
  /* .city_list_index {
    position: fixed;
    right: 0;
    top: 1rem;
  }
  .city_list_index > div {
    padding: 0.1rem 0.05rem;
    font-size: 0.25rem;
  } */