/*.list{*/
/*    width: 100%;*/
/*    top: 50px;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    position: fixed;*/
/*}*/
.list .wrap_content{
    overflow: hidden;
    height: 100%;
}
.list .wrap_content .title{
    line-height: 27px;
    background: #eee;
    padding-left: 10px;
    color: #666;
    font-size: 12px;
}
.list .wrap_content .button-list{
    overflow: hidden;
    padding: 6px 10px 6px 6px;
}
.list .wrap_content .button-list .button-wrapper{
    float: left;
    width: 33.33%
}
.list .wrap_content .button-list .button-wrapper .button{
    margin: 4px;
    padding: 4px 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    width: auto;
    background: #fff;
}
.list .wrap_content .item-list{
    background: #f5f5f5;
}
.list .wrap_content .item-list .item{
    height: 44px;
    line-height: 44px;
    margin-left: 15px;
    border-bottom: 1px solid #c8c7cc;
    padding: 0;
    background: #f5f5f5;
    font-size: 14px;
}





















  
  /* .hot_city_name {
    margin-top: 0.3rem;
    margin-left: 0.26rem;
    width: 1.9rem;
    height: 0.66rem;
    background:red;
    text-align: center;
    line-height: 0.66rem;
    font-size: 0.28rem;
    border: 2px solid #e6e6e6;
  } */
  
  /*热门城市*/
  /* .hot_title,
  .city_title_letter {
    line-height: 0.6rem;
    padding-left: 0.26rem;
    font-size: 0.28rem;
  }
  
  .hot_city_list,
  .city_list_name {
    width: 96%;
    background: #f5f5f5;
    padding-bottom: 0.16rem;
    padding-right: 0.6rem;
    display: flex;
    flex-wrap: wrap;
  }
  .hot_city_name {
    margin-top: 0.3rem;
    margin-left: 0.26rem;
    width: 1.9rem;
    height: 0.66rem;
    background: #fff;
    text-align: center;
    line-height: 0.66rem;
    font-size: 0.28rem;
    border: 2px solid #e6e6e6;
  }
  
  .city_list > div {
    width: 100%;
  }
  .city_list_name_item {
    line-height: 0.9rem;
    margin-left: 0.26rem;
    width: 100%;
    border-bottom: 2px solid #e6e6e6;
    font-size: 0.28rem;
  }
   */
  /*城市列表下标*/
  /* .city_list_index {
    position: fixed;
    right: 0;
    top: 1rem;
  }
  .city_list_index > div {
    padding: 0.1rem 0.05rem;
    font-size: 0.25rem;
  } */