.discuss{
    text-align: left;
}
.discuss-top{
    width:100%;
    height: 38px;
    position: relative;
    top:0;
    background-color:#e54847;
    padding:6px
}
.discuss-back:after{
    content:'';
    position:absolute;
    top:16px;
    left: 12px;
    width:13px;
    height: 13px;
    transform: rotate(45deg);
    border:2px solid #fff;
    border-width:0 0 2px 2px;
}
.discuss-top p{
    color:#fff;
    font-size:18px;
    text-align:center;
    line-height:2;
}
.discuss-header{
    display: flex;
    padding:.3rem;
    background:#fff;
    
    flex-direction: row;
    justify-content: space-between;
}
.discuss-header-left{
    width:.68rem;
    height:.68rem;
    min-width:.68rem;
    border-radius:50%;
    background-color: #383838;
}
.discuss-header-right{
    margin-left:.2rem;
}
.right-lv{
    margin-left: .1rem;
    display: inline-block;
    width: 1rem;
    height: 0.5rem;
    vertical-align: middle;
    background: url(http://p1.meituan.net/moviemachine/20507a9b86fe5f9eb650d3a0913021942498.png) no-repeat;
    background-size: contain;
}
.right-shop{
    margin-left: .16rem;
    display: inline-block;
    width: 0.78rem;
    height: .5rem;
    vertical-align: middle;
    background: url(http://p0.meituan.net/moviemachine/a967af26b257cbfcd3991f78ccef79521350.png) no-repeat;
    background-size: contain;
}
.right-grade{
    font-size:.22rem;
    line-height:.62rem;
    color:#999999;
}
.right-details{
    margin: 0;
    color: #333;
    font-size: .38rem;
    line-height: 1.8;
    text-align: justify;
    word-wrap: break-word;
    padding: 0 !important;
}
.right-foot{
    margin-top:.2rem;
    margin-bottom:.05rem;
    line-height:.5rem;
    vertical-align:middle;
    display:flex;
    justify-content: space-between;
}
.right-foot-img1,.right-foot-img2{
    display:inline-block;
    margin-right:.2rem;
}
.right-foot-div{
    display: flex;
}
.right-foot-span1,.right-foot-span2{
    display:flex;
    color: #999;
    margin: 0 0 0 .2rem;
    font-size: .24rem;
    padding: .1rem .24rem;
    border: .01rem solid #CCCCCC;
    border-radius: 1rem;
}
.discuss-foot{
    display: flex;
    padding:0.6rem 0 0.6rem 0.6rem;
    border-bottom:1px solid #e5e5e5;
}
.discuss-foot-img{
    width: 1.4rem;
    height: 1rem;
    margin:0 0 0 .3rem;
}
.discuss-foot-img img{
    width:100%;
    display: block;
    border-radius:50%;
}
.discuss-foot-p{
    margin-left:.5rem;
}
.discuss-foot-p1{
    color: #8b8b8b;
    font-size: .24rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: .15rem;
}
.discuss-foot-p2{
    color: #999;
    font-size: .24rem;
    line-height: 1;
    margin-top: .1rem;
    margin-bottom: .1rem;
}
.discuss-foot-p3{
    color: #333;
    font-size: .28rem;
    margin: 0;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.footer-misc {
    text-align: center;
}
.footer-misc .icp a {
    font-size: .2rem;
    color: #9e9e9e;
    text-decoration: none;
}
.footer-misc p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.discuss-loading{
    text-align: center;
    margin:1rem 0 1rem 0;
}