.top{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.pageTitle{
    height: 51px;
    width: 100%;
    background-color: rgb(229, 72, 71);
    text-align: center;
    line-height: 51px;
    color: #fff;
    font-size: 1.1em;
}
.topNav{
    height: 44px;
    line-height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    /* position: fixed;
    top: 114px;
    width: 100%; */
}
.topNav-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: #666;
    text-align: center;
    margin: 0 12px;
    font-weight: 700;
}
.topNav-ul li{
    margin: 0 20px 0 20px;
}
.topNav li{
    height: 100%;
    cursor: pointer;
}
.active{
    color: rgb(229, 72, 71);
    border-bottom: 2px solid rgb(229, 72, 71);
}
.main{
    padding-top: 160px;
    margin-bottom: 50px;
}
.header-2{
    position: absolute;
    top:51px;
    width: 100%;
}