.most-expected {
     padding: 12px 0 12px 15px;
     background-color: #fff;
     margin-bottom: 10px;
    
 }
.title {
     margin: 0;
     font-size: 14px;
     color: #333;
     margin-bottom: 12px;
     text-align: left;
     width: 100%;
 }
 .most-expected-list{
     white-space:nowrap;
     overflow: scroll;
    
     }
 .expected-item {
     display: inline-block;
     width: 85px;
     overflow: hidden;
     margin-right: 10px;
 }
 .poster {
     width: 85px;
     height: 115px;
     position: relative;
     margin-bottom: 6px;
     
 }
 .poster img{
    height:100% ;
}
 .name {
     margin: 0;
     font-size: 13px;
     color: #222;
     margin-bottom: 3px;
 }
  .date {
     margin: 0;
     font-size: 12px;
     color: #999;
 }