body {
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: auto;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.body_top {
    width: 100%;
    height: 150px;
    background-color: #f03d37;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://s0.meituan.net/bs/file/?f=myfe/canary:static/deploy/dpmmweb/client/dpmmweb/component/mycenter/img/bg.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 150px;
    margin-top: 51px;
}
.head_icon {
    width: 66px;
    height: 66px;
    border-radius: 50%;
}
.orders {
    position: relative;
    width: 100%;
    margin-top: 10.0125px;
    height: 150px;
    text-align: center;
    font-size: 15px;
    background-color: #fff;
}
.orders > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group {
    width: 100%;
    margin-top: 10px;
    background-color: #f3f3f3;
}

.group > ul > li {
    height: 44px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.875px;
    background-color: #fff;
    padding-right: 15px;
    padding-left: 15px;
}
.order-li {
    width: 50%;
}
.order-movie {
    float: left;
    height: 97px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 42px auto;
    margin-top: 18px;
    background-image: url("https://s0.meituan.net/bs/file/?f=myfe/canary:static/deploy/dpmmweb/client/dpmmweb/component/mycenter/img/movie.png");
}
.order-p {
    position: relative;
    top: 53px;
    text-align: center;
    font-size: 15px;
    line-height: 21px;
    height: 21px;
    margin: 0;
    color: #333;
}
.orders .title {
    position: relative;
    margin: 13px 0 0;
    font-size: 15px;
    line-height: 21px;
    height: 21px;
    color: #333;
    z-index: 9;
    display: inline-block;
    width: 80px;
    background-color: #fff;
}
.title-line {
    position: absolute;
    top: 23px;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    height: 1px;
    background: #ccc;
}