.cinemaDetail{
    background: #fff;
}
.cinema-info{
    position: relative;
    padding: 15px;
    padding-right: 100px;
}
 .cinema-info .title {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #333;
}
.cinema-info .location {
    margin-top: 2px;
    font-size: 13px;
    line-height: 18.5px;
    color: #999;
}
.cinema-info .location-icon {
    position: absolute;
    right: 0;
    top: 50%;
    width: 70px;
    height: 31px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 1px solid #d8d8d8;
    text-align: center;
}
.cinema-info .location-icon img {
    display: inline-block;
    width: 19px;
    height: 22px;
    margin-top: 5px;
}
.swiper-container{
    width:100%;
    height: 135px;
    background-color: #40454d;
}
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    box-sizing: content-box;
    top:20px;
}

.swiper-slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    
}
.swiper-slide img{
    text-align: center;
    width: 65px;
    height: 95px;
    line-height: 135px;
}
.swiper-slide img.choice {
    border:2px solid #fff;
    height: 100px;
    width: 75px;
}
.cinemaDetail .movie-info{
    padding: 11px 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.cinemaDetail .movie-info .movie-title{
    height: 24px;
    line-height: 24px;
    font-size: 17px;
    color: #333;
    font-weight: 700;
}
.cinemaDetail .movie-info .movie-desc{
    margin-top: 2px;
    height: 18.5px;
    line-height: 18.5px;
    font-size: 13px;
    color: #999;
    text-align: center;
}
.cinemaDetail .movie-info .movie-title .grade{
    color: #ffb400;
    font-size: 16px;
    margin-left: 5px;
}
.cinemaDetail .movie-info .movie-title .grade .small{
    font-size: 10px;
}
.cinemaDetail .nav-bar{
    position: relative;
    height: 45px;
    overflow: hidden;
    white-space: nowrap;
}
.cinemaDetail .nav-bar .nav-bar-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -20px;
    padding-bottom: 20px;
    overflow: auto;
}
.cinemaDetail .nav-bar .nav-item{
    display: inline-block;
    line-height: 45px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    color: #666;
    float: left;
    box-sizing: border-box;
    margin-left: 30px;
}
.cinemaDetail .nav-bar .nav-item:first-child {
    margin-left: 15px;
}
.cinemaDetail .nav-bar .nav-item:last-child {
    margin-right: 15px;
}
.cinemaDetail .nav-bar .nav-item.active {
    color: #f03d37;
    border-bottom: 2px solid #f03d37;
}
.seat-list .list-wrap .item-outer {
    padding: 17px 0;
    margin-left: 12.5px;
}
.seat-list .list-wrap .item {
    padding-right: 12.5px;
    display: flex;
}
.seat-list .list-wrap .item .time-block {
    position: relative;
}
.seat-list .list-wrap .item .time-block .begin {
    font-size: 20px;
    color: #333;
    line-height: 1;
    white-space: nowrap;
}
.seat-list .list-wrap .item .time-block .end {
    margin-top: 10px;
    color: #999;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
}
.seat-list .list-wrap .item .time-block .end>.tui {
    margin-left: 4px;
    display: inline-block;
    -webkit-transform: translateY(-.5px);
    transform: translateY(-.5px);
}
.seat-list .list-wrap .item .info-block {
    margin-left: 17px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
}
.seat-list .list-wrap .item .info-block .lan {
    margin-top: 2px;
    line-height: 18px;
    font-size: 13px;
    color: #333;
    white-space: normal;
}
.seat-list .list-wrap .item .info-block .hall {
    margin-top: 7px;
    font-size: 11px;
    color: #999;
    white-space: normal;
}
.seat-list .list-wrap .item .price {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 130px;
    margin-left: 5px;
}
.seat-list .list-wrap .item .price .sellPr {
    display: inline-block;
    line-height: 1;
    color: #f03d37;
    margin-top: 1px;
    font-size: 19px;
}
.seat-list .list-wrap .item .price .sellPr .d {
    font-size: 11px;
}
.vipPrice {
    display: inline-block;
    line-height: 15px;
    height: 15px;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    -webkit-transform-origin: left;
    transform-origin: left;
    margin-right: -16px;
    border: 1px solid #ff9000;
    border-radius: 2px;
    font-size: 12px;
}
.vipPrice .icon, .vipPrice .num {
    display: inline-block;
    padding: 0 2px;
}
.vipPrice .icon {
    color: #fff;
    background-color: #f90;
}
.vipPrice .num {
    color: #f90;
    background-color: #fff;
}
.seat-list .list-wrap .item .price .extraDesc {
    margin-top: 5px;
    display: block;
    font-size: 11px;
    color: #999;
}
.seat-list .list-wrap .item .button-block {
    width: 45px;
    margin-left: 2px;
    position: relative;
}
.seat-list .list-wrap .item .button-block .button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 27px;
    line-height: 28px;
    font-size: 12px;
    background-color: #f03d37;
    color: #fff;
    border-radius: 4px;
    text-align: center;
}