/* .movie-info {
    padding: .42rem .32rem;
    color: #fff;
    position: relative;
    background-color: pink;
} */

.movie-info {
    
    padding: .42rem .32rem;
    color: #fff;
    position: relative;
   
}
.movie-info-top {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.movie-cover {
    float: left;
    
    width: 2rem;
    position: relative;
    flex-shrink: 0;
}
.movie-page a {
    text-decoration: none;
    color: inherit;
}
.movie-info .movie-cover img.poster {
   
    width: 100%;}
    .movie-info .movie-cover img.poster-play {
        height: .6rem;
        width: .6rem;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .movie-info .movie-desc {
        flex-grow: 1;
        margin-left: .24rem;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        overflow: hidden;
        text-align: left;
    }
.movie-info-top {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.movie-page a {
    text-decoration: none;
    color: inherit;
}
.movie-cover img.poster {
   
    width: 100%;
}
.movie-cover img.poster-play {
    height: .6rem;
    width: .6rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
.movie-desc {
    flex-grow: 1;
    margin-left: .24rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow: hidden;
}
.movie-desc-top {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-grow: 1;
}
.movie-cn-name {
    font-size: .4rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
}
 .movie-en-name {
    font-size: .24rem;
    opacity: .6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.movie-other-info {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    justify-content: center;
}
.movie-type {
    font-size: .24rem;
    display: flex;
    align-items: center;
}
.movie-cat {
    opacity: .6;
}
.movie-tag {
    border-radius: .04rem;
    margin-left: .08rem;
    vertical-align: text-bottom;
    display: flex;
    align-items: center;
}
.movie-info .movie-desc .actors {
    opacity: .6;
    font-size: .24rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}
.btns {
    display: flex;
    justify-content: space-between;
}
.buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0,0%,100%,.35);
    box-shadow: 0 0.02rem 0.08rem 0 rgba(0,0,0,.1);
    border-radius: .08rem;
    font-size: .28rem;
    width: 47.61904762%;
    height: .6rem;
    color: #fff;
    border: none;
}
.btns .button img {
    width: .28rem;
    height: .28rem;
    margin-right: .12rem;
}
.movie-show-time span {
    opacity: .6;
    font-size: .24rem;
}

.brief-introduction {
    position: relative;
    padding: .32rem 0 0;
}
.brief-introduction>.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduction>.title>span {
    font-size: .3rem;
    color: #fff;
    
}
.actors {
    padding: 12px 0 12px 0;
    margin-bottom: 10px;
   
}
.actors .title {
    margin: 0;
    font-size: 14px;
    color: #333;
    margin-bottom: 12px;
    text-align: left;
    width: 100%;
}
.most-expected-list{
    white-space:nowrap;
    overflow-x: scroll;
   
    }
  
.expected-item {
    display: inline-block;
    width: 85px;
    overflow: hidden;
    margin-right: 10px;
}
.poster {
    width: 85px;
    position:fixed;
    position: relative;
    margin-bottom: 6px;
   
    
}
.poster img{
   height:100% ;
}
.name {
    margin: 0;
    font-size: 13px;
    color: #222;
    margin-bottom: 3px;
}
 .date {
    margin: 0;
    font-size: 12px;
    color: #999;
}
.videos-photos-list {
    margin-top: .22rem;
    width: 100%;
    height: 100px;
}
.videos-photos-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
}
.videos-photos-list {
    margin-top: .22rem;
}
.videos-photos-list-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    white-space:nowrap;
    
}
.videos-div-box{flex-shrink: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
margin: 0 10px 5px 0;
float: left;

}
.videos-div-box img {
        width:144px;
        height:96px;
    }
    .most-expected .title {
        font-size: .3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title .go-to-all img {
        width: .1rem;
        height: .16rem;
        margin-left: .12rem;
    }
    .line-clamp{
        font-size:.35rem;
    line-height: .52rem;
    margin: .14rem 0;
    text-align: justify;
    }
    .img noneBg poster{
        height: 100%;
        width: 100%;
    }
    .movie-info .movie-cover img.poster {
        width: 100%;
        height: 100%;
    }
    .brief-introduction>.content {
        font-size: .3rem;
        line-height: .52rem;
        overflow: hidden;
    }
    .brief-introduction>.content {
        line-height: .52rem;
        overflow: hidden;
    }
    .brief-introduction>.content p {
        margin: .14rem 0;
        text-align: justify;
    }