.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  width: 33.3%;
  display: inline-block;
  line-height: 50px;
}
nav {
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;

}
