.allCity-content{
    background-color: #fff;
    overflow: auto;
    color: #777;
}
.allCity-content .allCity-tab{
    height: 44px;
}
.allCity-content .allCity-tab li{
    position: relative;
    display: inline-block;
    padding: 0 10px;
    width: 50%;
    height: 100%;
    line-height: 44px;
    text-align: center;
}
.allCity-content li.chosen{
    color: #f03d37;
    border-bottom: 2px solid #f03d37;
}
.region-list{
    height: 402.64px;
    background: #f5f5f5;
}
.region-sidenav{
    width: 27%;
    height: 100%;
    float: left;
    overflow: scroll;
}
.district{
    min-height: 100%;
    background: #fff;
}
.district-li{
    height: 44px;
    padding-left: 10px;
    padding-right: 15px;
    line-height: 44px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
}
.district-li.chosen{
    color: #f03d37;
    background: #f5f5f5;
}
.district-li.chosen:after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 90%;
    border-top: 2px solid #f03d37;
}
.region-list-item{
    width: 65%;
    height: 100%;
    float: right;
    overflow: scroll;
}
.filter-list .item{
    background: #f5f5f5;
    border-bottom: 0;
}
.filter-list .item.chosen .item-name,.filter-list .item.chosen .item-count{
    color: #f03d37;
    background: #f5f5f5;
}
.item-name{
    width: 80%;
    font-size: 14px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item-count{
    float: right;
    width: 20px;
    margin-right: 10px;
    color: #8f9296;
    font-size: 12px;
    text-align: right;
}